/*
 Made for the `Kanagawa` theme
 https://marketplace.visualstudio.com/items?itemName=qufiwefefwoyn.kanagawa
*/
:root {
  --tab-border-color: #ed8d37;
}

.explorer-folders-view .monaco-list-row {
  font-size: 14px;
}

.explorer-folders-view .codicon {
  font-size: 14px;
}

.explorer-folders-view .monaco-icon-label:before {
  background-size: 20px;
  padding-right: 10px;
}

/* .explorer-folders-view .monaco-list-row {
  height: 38px !important;
  line-height: 38px !important;
} */

/*
.explorer-folders-view .monaco-list-row .monaco-tl-row {
  padding: 16px 0;
} */

/* Make hovered non-active tabs' backgrounds get slightly lighter on hover. */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab:hover,
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container.active
  > .title
  .tabs-container
  > .tab:hover {
  background-color: #2a2a37 !important;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab:first-child {
  border-top-left-radius: 0;
}

.content .centered-layout-margin {
  background-color: #16161d !important;
}

.content .split-view-view.visible {
  /* border-left: 1px solid rgb(42, 42, 55) !important;
  border-right: 1px solid rgb(42, 42, 55) !important; */
}

/* Actually make the selected tab's background different than others. */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.active {
  background-color: #363646 !important;
  border-bottom: 2px solid var(--tab-border-color);
}

/* Make hovered active tab's background get slightly lighter on hover. */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.active:hover,
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container.active
  > .title
  .tabs-container
  > .tab.active:hover {
  background-color: #363646 !important;
}

/* Ensure that a selected Tab's bottom-border stays the same color when we hover
 * on it (it was going from yellow accent color to gray, super ugly).
 */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.active.tab-border-bottom
  > .tab-border-bottom-container {
  /** We added "!important" (And we needed !important everywhere else too, what the heck) */
  background-color: var(--tab-border-bottom-color) !important;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.sizing-fit {
  /* border-right: 1px solid rgb(42, 42, 55) !important; */
  /* border-left: 1px solid rgb(42, 42, 55) !important; */
  /* border-top: 1px solid rgb(42, 42, 55) !important; */
}

.tabs-and-actions-container .editor-actions,
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  > .tabs-and-actions-container
  > .monaco-scrollable-element {
  border-bottom: 1px solid #16161d !important;
  /* border-bottom: 1px solid rgb(42, 42, 55) !important; */
  /* border-right: 1px solid rgb(42, 42, 55) !important; */
}
